<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="consHelper" class="com.Baeldung.output.OutputHelper">
		<constructor-arg>
			<ref bean="consOutputHelper" />
		</constructor-arg>
	</bean>
 
	<bean id="consOutputHelper" class="com.Baeldung.output.impl.BaseServiceImpl" />

</beans>