<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="setterHelper" class="com.Baeldung.output.OutputHelper">
		<property name="outputGenerator" ref="setterOutputGenerator" />
	</bean>
 
	<bean id="setterOutputGenerator" class="com.Baeldung.output.impl.BaseServiceImpl" />

</beans>