<html>
<head>
	<title>WebJars Demo</title>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
</head>
<body>
	<h1>Welcome Home</h1>
	<div class="container"><br/>
		<div class="alert alert-success">
		  <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
		  <strong>Success!</strong> It is working as we expected.
		</div>
	</div>

<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>
