<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Customers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div th:switch="${customers}" class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <h2 th:case="null">No Registered Customers</h2>
                    <div th:case="*">
                        <h2 class="my-5">Customers</h2>
                        <table class="table table-striped table-responsive-md">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="customer : ${customers}">
                                    <td th:text="${customer.name}"></td>
                                    <td th:text="${customer.email}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>      
                    <p class="my-5"><a href="/signup" class="btn btn-primary">Add Customer</a></p>
                </div>
            </div>
        </div>
    </body>
</html>