.env*
.bash_history

[200~.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.log
gradle-local.properties
gradle-local.properties*
lib
.gradle
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
/src/main/resources/application.properties
target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
*.local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject
# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/


