<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{home.title}"></title>
        <link rel="stylesheet" type="text/css" href="/public/css/base.css">
        <link rel="stylesheet" type="text/css" th:href="${#themes.code('stylesheet')}">
    </head>
    <body>
        <h2>TaskTools</h2>
        <ul>
            <li th:each="username : ${users}">
                <a th:href="@{/tasks/{username}/list(username=${username})}" th:text="${username}"></a>
            </li>
        </ul>
    </body>
</html>
