<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{task.list.title(${username})}"></title>
        <link rel="stylesheet" type="text/css" href="/public/css/base.css">
        <link rel="stylesheet" type="text/css" th:href="${#themes.code('stylesheet')}">
    </head>
    <body>
        <h2 th:text="#{task.list.header(${username})}"></h2>
        <ul>
            <li th:each="task : ${tasks}">
                <p th:text="*{task.due}"></p>
                <p th:text="*{task.description}"></p>
                <a th:href="@{/tasks/{username}/get/{id}(username=${username},id=${taskStat.index})}" th:text="#{task.list.details}"></a>
            </li>
        </ul>
        <p>
            <a th:href="@{/}" th:text="#{task.list.home}"></a>
            <a th:href="@{/tasks/{username}/add(username=${username})}" th:text="#{task.list.add-new}"></a>
        </p>
    </body>
</html>
