<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{task.add.title(${username})}"></title>
        <link rel="stylesheet" type="text/css" href="/public/css/base.css">
        <link rel="stylesheet" type="text/css" th:href="${#themes.code('stylesheet')}">
    </head>
    <body>
        <h2 th:text="#{task.add.header(${username})}"></h2>
        <form method="post" action="#" th:action="@{/tasks/{username}/add(username=${username})}" th:object="${task}">
            <input type="text" th:field="*{description}" th:placeholder="#{task.add.description}"/>
            <input type="datetime-local" th:field="*{due}" th:placeholder="#{task.add.due}"/>
            <input type="submit" th:value="#{task.add.submit}"/>
        </form>
    </body>
</html>
