<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{task.attach.title(${id})}"></title>
        <link rel="stylesheet" type="text/css" href="/public/css/base.css">
        <link rel="stylesheet" type="text/css" th:href="${#themes.code('stylesheet')}">
    </head>
    <body>
        <h2 th:text="#{task.attach.header(${id})}"></h2>
        <form method="post" action="#" enctype="multipart/form-data"
              th:action="@{/tasks/{username}/get/{id}/attach(username=${username},id=${id})}">
            <input type="file" name="attachment" th:placeholder="#{task.attach.attachment}"/>
            <input type="text" name="description" th:placeholder="#{task.attach.description}"/>
            <input type="submit" th:value="#{task.attach.submit}"/>
        </form>
    </body>
</html>
