.metadata
bin/
tmp/
local.properties
.settings/
.loadpath

# Eclipse project files
.classpath
.project
.settings/
# Others
target/
logs/
.svn
META-INF/

pom.xml.releaseBackup
/release.properties
dependency-reduced-pom.xml