<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Customers</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Spring Boot / HSQLDB RESTful Web Service</h2>
        <form action="/addcustomer" method="post">
            <input type="submit" value="Add Customer">
        </form>
        <a href="/getcustomers"><button>Get Customers</button></a>
    </body>
</html>