<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:annotation-config />

	<bean id="person" class="com.example.Person">
		<constructor-arg ref="address" />
		<constructor-arg type="java.lang.String" value="John" />
		<constructor-arg type="java.lang.Integer" value="40" />
	</bean>

	<bean id="address" class="com.example.Address">
		<constructor-arg type="java.lang.String" value="India" />
	</bean>
</beans>