<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>CreateNewFoo</servlet-name>
        <servlet-class>com.baeldung.ServletCreateFoo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFoos</servlet-name>
        <servlet-class>com.baeldung.ServletGetFoos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFoos</servlet-name>
        <url-pattern>/getFoos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateNewFoo</servlet-name>
        <url-pattern>/new</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>