* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #fff;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
  font: 16px "Source Sans Pro", "Helvetica Neue", Arial, sans-serif !important;
  color: #1c3b47;
  font-smoothing: antialiased;
  -webkit-font-size-adjust: none;
  text-rendering: optimizeLegibility;
}
body.clipped #clipped {
  overflow-x: hidden;
}
body.versal #clipped {
  height: 100%;
}
#site-header {
  background: #1c3b47;
  width: 100%;
  height: 95px;
  padding: 0px 0px;
  position: relative;
  z-index: 9999;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
}
@media only screen and (min-width: 40.063em) {
  #site-header {
    position: fixed;
  }
}
#site-header #logo {
  display: block;
  float: left;
  margin-top: 25px;
  width: 220px;
  height: 45px;
  color: #fff;
  font-size: 32pt;
}
#site-header .aside-nav-button {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
  -moz-transition: visibility 0.2s linear, opacity 0.2s linear;
  -o-transition: visibility 0.2s linear, opacity 0.2s linear;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 0px;
  height: 70px;
  width: 40px;
  background-color: #ff931e;
  border-radius: 2px;
  border-bottom: 2px solid #f48122;
  z-index: 1000;
  padding-top: 15px;
  padding-bottom: 15px;
}
#site-header .aside-nav-button .menu-icon {
  fill: #fff;
}
#site-header .aside-nav-button:hover {
  background-color: #f48122;
}
#site-header .aside-nav-button.visible {
  visibility: visible;
  opacity: 1;
}
#site-header a.logo {
  z-index: 500;
}
#site-header a.logo img {
  height: 40px;
  margin: 25px 0;
}
#site-header .row > div {
  height: 75px;
}
#site-header nav {
  float: right;
}
#site-header nav .tertiary-nav {
  text-align: right;
  background-color: rgba(255,255,255,0);
  padding-top: 6px;
  height: 45px;
}
#site-header nav .tertiary-nav a {
  margin-left: 10px;
  font-size: 0.85em;
  font-weight: 700;
  color: #489dbd;
}
#site-header nav .tertiary-nav .btn {
  margin: 0;
  margin-left: 10px;
  font-size: 0.65em;
  border: none;
  background-color: #489dbd;
  color: #fff !important;
}
#site-header nav .primary-nav {
  padding: 0;
  clear: both;
  color: #fff;
  margin: 0;
  font-size: 14px;
  height: 45px;
  float: right;
}
#site-header nav .primary-nav .footer-only {
  display: none;
}
#site-header nav .primary-nav > a.btn {
  margin: 5px 0 0 10px;
  padding: 0.6em 1em;
  font-size: 1em;
}
#site-header nav .primary-nav dl {
  margin: 0px;
  font-weight: 400;
  display: block;
  float: left;
  padding: 0px;
  line-height: 0.8em;
  font-size: 14px;
  position: relative;
  transition: all 200ms ease-in-out;
}
#site-header nav .primary-nav dl hr {
  padding: 0;
  margin: 0;
  height: 1px;
  background: #3e515e;
  border-top: 1px solid #000;
}
#site-header nav .primary-nav dl dt {
  padding: 10px 15px;
  position: relative;
  z-index: 500;
  text-transform: uppercase;
  margin-bottom: 0;
  height: 50px;
  line-height: 25px;
  transition: all 200ms ease-in-out;
}
#site-header nav .primary-nav dl dt a {
  color: #fff;
  font-weight: 700;
  font-size: 15px;
}
#site-header nav .primary-nav dl dt a:hover {
  text-decoration: none;
  color: #1a84ad;
}
#site-header nav .primary-nav dl dd {
  display: block;
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 240px;
  border-radius: 2px;
  border-top-left-radius: 0;
  font-weight: 400;
  background-color: #0c323b;
  box-shadow: 0px 0px 0px 3px rgba(255,147,30,0.1);
  transition: all 200ms ease-in-out;
}
#site-header nav .primary-nav dl dd h2,
#site-header nav .primary-nav dl dd h2 a {
  color: #ff931e;
  margin: 1.2em 0 0.7em 0;
  padding-top: 0.5em;
  font-size: 13px;
  font-weight: 700;
  border-top: 0px solid rgba(255,255,255,0.1);
  text-transform: uppercase;
}
#site-header nav .primary-nav dl dd h2:first-child,
#site-header nav .primary-nav dl dd h2 a:first-child {
  margin-top: 0;
  padding-top: 0;
}
#site-header nav .primary-nav dl dd h2 a {
  margin-top: 0;
  padding-top: 0;
}
#site-header nav .primary-nav dl dd a {
  display: block;
  line-height: 0.8em;
  margin-bottom: 0.8em;
  color: #fff;
  font-size: 15px;
}
#site-header nav .primary-nav dl dd a > span {
  padding-left: 14px;
  padding-right: 6px;
  color: #ff931e;
}
#site-header nav .primary-nav dl dd a:hover {
  color: #ff931e;
  text-decoration: none;
}
#site-header nav .primary-nav dl dd a.ib {
  display: inline-block;
  margin-right: 5px;
}
#site-header nav .primary-nav dl dd a .svg-icon {
  width: 15px;
  height: 15px;
}
#site-header nav .primary-nav dl dd a.rss-icon {
  margin: 0;
}
#site-header nav .primary-nav dl:hover {
  transition: all 200ms ease-in-out;
}
#site-header nav .primary-nav dl:hover dt {
  box-shadow: inset 0 2px 0 #ff931e;
  background-color: #0c323b;
  transition: all 200ms ease-in-out;
}
#site-header nav .primary-nav dl:hover dt a {
  color: #ff931e;
}
#site-header nav .primary-nav dl:hover dd {
  opacity: 1;
  height: auto;
  background-color: #0c323b;
  transition: all 200ms ease-in-out;
  padding: 25px 15px 15px 15px;
}
#page-content {
  padding: 0;
  margin: 0;
}
#page-content #top {
  width: 100%;
  background: #1a84ad;
  color: #fff;
  padding: 30px 0 30px 0;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 -3px 0 rgba(137,156,169,0.1);
}
@media only screen and (min-width: 40.063em) {
  #page-content #top {
    padding: 130px 0 30px 0;
  }
}
#page-content #top p {
  color: #fff;
}
#page-content #top header {
  white-space: nowrap;
}
#page-content #top header h1 {
  overflow: hidden;
  display: inline-block;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 40px;
  color: #fff;
  margin: 0;
  font-weight: 300;
}
#page-content #top nav h1 {
  max-width: 62.5em;
  width: 100%;
  height: 60px;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  margin: 0;
}
#page-content #top nav h1 a {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 300;
}
#page-content #top nav h1 a:hover {
  text-decoration: none;
}
#page-content #top nav h1 a:after {
  content: "/";
  margin-left: 5px;
  margin-right: 5px;
  font-weight: 400;
}
#page-content #top nav h1 a:last-child {
  font-weight: 300;
}
#page-content #top nav h1 a:last-child:after {
  content: "";
}
#page-content #top nav h1 strong {
  text-transform: uppercase;
}
#page-content #top .banner {
  position: relative;
  min-height: 500px;
}
#page-content #top .banner .illustration {
  content: " ";
  display: block;
  position: absolute;
  width: 700px;
  left: 0;
  top: 50px;
  height: 400px;
  margin-left: -150px;
  background-size: 80%;
}
#page-content #top .banner .details {
  position: relative;
  margin: 150px 0 10px 0;
  float: right;
  width: 50%;
  text-align: right;
}
#page-content #top .banner .details.video {
  margin: 40px 0 0 0;
  width: 65%;
}
#page-content #top .banner .details h1 {
  font-size: 33px;
  font-weight: 400;
  color: #fff;
}
#page-content #top.short-top {
  height: initial;
}
.fw-wrapper {
  padding: 60px 0px;
  min-width: 62.5em;
}
.fw-wrapper.flush {
  padding: 0;
}
.fw-wrapper.flush-top {
  padding: 0 0 60px 0;
}
.fw-wrapper.flush-bottom {
  padding: 60px 0 0 0;
}
.fw-wrapper.grey {
  background-color: #c5d0d4;
}
.fw-wrapper.slate {
  background-color: #364550;
}
.fw-wrapper.slate h1,
.fw-wrapper.slate h2,
.fw-wrapper.slate h3,
.fw-wrapper.slate h4,
.fw-wrapper.slate p,
.fw-wrapper.slate a {
  color: #fff;
}
.fw-wrapper.slate-dkr {
  background-color: #2a363e;
}
.fw-wrapper.slate-dkr h1,
.fw-wrapper.slate-dkr h2,
.fw-wrapper.slate-dkr h3,
.fw-wrapper.slate-dkr h4,
.fw-wrapper.slate-dkr p,
.fw-wrapper.slate-dkr a {
  color: #fff;
}
.fw-wrapper.slate-ltr {
  background-color: #3e515e;
}
.fw-wrapper.slate-ltr h1,
.fw-wrapper.slate-ltr h2,
.fw-wrapper.slate-ltr h3,
.fw-wrapper.slate-ltr h4,
.fw-wrapper.slate-ltr p,
.fw-wrapper.slate-ltr a {
  color: #fff;
}
.fw-wrapper.slate-tt {
  background-color: #1c3b47;
}
.fw-wrapper.slate-tt h1,
.fw-wrapper.slate-tt h2,
.fw-wrapper.slate-tt h3,
.fw-wrapper.slate-tt h4,
.fw-wrapper.slate-tt p,
.fw-wrapper.slate-tt a {
  color: #fff;
}
.fw-wrapper.white-ltr,
.fw-wrapper.lb-light-grey-ltr {
  background-color: #f3f6f6;
}
.fw-wrapper.white-dkr,
.fw-wrapper.lb-light-grey {
  background-color: #c5d0d4;
}
.fw-wrapper.teal-blue {
  background-color: #1c3b47;
}
.fw-wrapper.teal-blue h1,
.fw-wrapper.teal-blue h2,
.fw-wrapper.teal-blue h3,
.fw-wrapper.teal-blue h4,
.fw-wrapper.teal-blue p,
.fw-wrapper.teal-blue a {
  color: #fff;
}
.fw-wrapper.lb-dark-teal {
  background-color: #1c3b47;
}
.fw-wrapper.lb-dark-teal h1,
.fw-wrapper.lb-dark-teal h2,
.fw-wrapper.lb-dark-teal h3,
.fw-wrapper.lb-dark-teal h4,
.fw-wrapper.lb-dark-teal p,
.fw-wrapper.lb-dark-teal a {
  color: #fff;
}
.fw-wrapper.blue,
.fw-wrapper.lb-blue {
  background-color: #1a84ad;
}
.fw-wrapper.blue h1,
.fw-wrapper.lb-blue h1,
.fw-wrapper.blue h2,
.fw-wrapper.lb-blue h2,
.fw-wrapper.blue h3,
.fw-wrapper.lb-blue h3,
.fw-wrapper.blue h4,
.fw-wrapper.lb-blue h4,
.fw-wrapper.blue p,
.fw-wrapper.lb-blue p,
.fw-wrapper.blue a,
.fw-wrapper.lb-blue a {
  color: #fff;
}
.fw-wrapper.blue-dkr,
.fw-wrapper.lb-blue-dkr {
  background-color: #127796;
}
.fw-wrapper.blue-dkr h1,
.fw-wrapper.lb-blue-dkr h1,
.fw-wrapper.blue-dkr h2,
.fw-wrapper.lb-blue-dkr h2,
.fw-wrapper.blue-dkr h3,
.fw-wrapper.lb-blue-dkr h3,
.fw-wrapper.blue-dkr h4,
.fw-wrapper.lb-blue-dkr h4,
.fw-wrapper.blue-dkr p,
.fw-wrapper.lb-blue-dkr p,
.fw-wrapper.blue-dkr a,
.fw-wrapper.lb-blue-dkr a {
  color: #fff;
}
.fw-wrapper.red {
  background-color: #ff931e;
}
.fw-wrapper.red h1,
.fw-wrapper.red h2,
.fw-wrapper.red h3,
.fw-wrapper.red h4,
.fw-wrapper.red p,
.fw-wrapper.red a {
  color: #fff;
}
.fw-wrapper.lb-orange {
  background-color: #ff931e;
}
.fw-wrapper.lb-orange h1,
.fw-wrapper.lb-orange h2,
.fw-wrapper.lb-orange h3,
.fw-wrapper.lb-orange h4,
.fw-wrapper.lb-orange p,
.fw-wrapper.lb-orange a {
  color: #fff;
}
.fw-wrapper.lb-dark-teal {
  background-color: #1c3b47;
}
.fw-wrapper.lb-dark-teal h1,
.fw-wrapper.lb-dark-teal h2,
.fw-wrapper.lb-dark-teal h3,
.fw-wrapper.lb-dark-teal h4,
.fw-wrapper.lb-dark-teal p,
.fw-wrapper.lb-dark-teal a {
  color: #fff;
}
.fw-wrapper.lb-dark-teal-dkr {
  background-color: #0c323b;
}
.fw-wrapper.lb-dark-teal-dkr h1,
.fw-wrapper.lb-dark-teal-dkr h2,
.fw-wrapper.lb-dark-teal-dkr h3,
.fw-wrapper.lb-dark-teal-dkr h4,
.fw-wrapper.lb-dark-teal-dkr p,
.fw-wrapper.lb-dark-teal-dkr a {
  color: #fff;
}
.fw-wrapper.lb-dark-teal-ltr {
  background-color: #406972;
}
.fw-wrapper.lb-dark-teal-ltr h1,
.fw-wrapper.lb-dark-teal-ltr h2,
.fw-wrapper.lb-dark-teal-ltr h3,
.fw-wrapper.lb-dark-teal-ltr h4,
.fw-wrapper.lb-dark-teal-ltr p,
.fw-wrapper.lb-dark-teal-ltr a {
  color: #fff;
}
.fw-wrapper.navy {
  background-color: #1c3b47;
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
}
.fw-wrapper.navy h1,
.fw-wrapper.navy h2,
.fw-wrapper.navy h3,
.fw-wrapper.navy h4,
.fw-wrapper.navy p,
.fw-wrapper.navy a {
  color: #fff;
}
.fw-wrapper.shadow {
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.1);
}
.fw-wrapper.shadow-dark {
  box-shadow: inset 0 -3px 0 rgba(0,0,0,0.2);
}
.fw-wrapper.play {
  background-color: play-green;
}
.fw-wrapper.play h1,
.fw-wrapper.play h2,
.fw-wrapper.play h3,
.fw-wrapper.play h4,
.fw-wrapper.play p,
.fw-wrapper.play a {
  color: #fff;
}
.fw-wrapper.playday {
  border-top: 6px play-dkr solid;
}
.fw-wrapper.akka {
  background-color: akka-blue;
}
.fw-wrapper.akka h1,
.fw-wrapper.akka h2,
.fw-wrapper.akka h3,
.fw-wrapper.akka h4,
.fw-wrapper.akka p,
.fw-wrapper.akka a {
  color: #fff;
}
.fw-wrapper.scala {
  background-color: scala-red;
}
.fw-wrapper.scala h1,
.fw-wrapper.scala h2,
.fw-wrapper.scala h3,
.fw-wrapper.scala h4,
.fw-wrapper.scala p,
.fw-wrapper.scala a {
  color: #fff;
}
aside {
  color: #fff;
}
aside h3,
aside a,
aside a:link,
aside a:visited {
  color: #fff;
  font-weight: 700;
}
aside h3 {
  background-color: #1c3b47;
  border-bottom: 2px solid #406972;
  margin: 0 0 10px 0;
  padding: 10px 0 8px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  color: #ff931e;
}
aside h3 a:link {
  font-weight: 700;
}
aside ul {
  background-color: #1c3b47;
  border-radius: 2px;
  margin: 0;
  list-style-type: none;
  padding: 0px 0px 20px 0px;
  background-image: none;
  text-align: center;
}
aside ul li {
  padding: 0;
  margin: 0;
  line-height: 30px;
  background-image: none;
}
aside ul li h3:first-child {
  margin-top: 20px;
}
aside ul li:before {
  content: "";
}
aside ul li:first-child h3 {
  border-radius: 2px 2px 0 0;
  margin-top: 0px;
}
aside ul li a {
  margin-bottom: 5px;
  display: inline-block;
  width: 90%;
  border-radius: 2px;
  transition: all 200ms ease-in-out;
}
aside ul li a:hover {
  background-color: #fff;
  text-decoration: none;
  color: #f48122;
}
.responsive .fw-wrapper,
.responsive .row {
  min-width: 0;
}
.invisible-table {
  border: 0;
}
a.btn,
.btn {
  transition: all 200ms ease-in-out;
  display: inline-block;
  line-height: 1em;
  padding: 0.625em 0.875em;
  margin: 5px 0;
  background-color: #ff931e;
  border: 2px solid #ff931e;
  color: #fff;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  text-align: center;
}
a.btn:link,
.btn:link {
  color: #fff;
}
a.btn:visited,
.btn:visited {
  color: #fff;
}
a.btn:hover,
.btn:hover {
  text-decoration: none;
  background-color: #f48122;
  border: 2px solid #f48122;
  color: #fff;
}
a.btn:active,
.btn:active {
  color: #fff;
}
a.btn.glass,
.btn.glass {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
a.btn.glass:hover,
.btn.glass:hover {
  background-color: rgba(255,255,255,0.5);
  color: #1c3b47;
}
a.btn.blue,
.btn.blue {
  background-color: #1a84ad;
  border: 2px solid #1a84ad;
}
a.btn.blue:hover,
.btn.blue:hover {
  background-color: #127796;
  border: 2px solid #127796;
}
a.btn.blue.glass,
.btn.blue.glass {
  border: 2px solid #1a84ad;
  background-color: transparent;
  color: #1a84ad;
}
a.btn.blue.glass:hover,
.btn.blue.glass:hover {
  background-color: #1a84ad;
  color: #fff;
}
a.btn.red,
.btn.red {
  background-color: #ff931e;
  border: 2px solid #ff931e;
}
a.btn.red:hover,
.btn.red:hover {
  background-color: #f48122;
  border: 2px solid #f48122;
}
a.btn.red.glass,
.btn.red.glass {
  border: 2px solid #ff931e;
  background-color: transparent;
  color: #ff931e;
}
a.btn.red.glass:hover,
.btn.red.glass:hover {
  background-color: #ff931e;
  color: #fff;
}
a.btn.red-dkr,
.btn.red-dkr {
  background-color: #f48122;
  border: 2px solid #f48122;
}
a.btn.red-dkr:hover,
.btn.red-dkr:hover {
  background-color: #f48122;
}
a.btn.teal-blue,
.btn.teal-blue {
  background-color: #1c3b47;
  border: 2px solid #1c3b47;
}
a.btn.teal-blue:hover,
.btn.teal-blue:hover {
  background-color: #0c323b;
  border: 2px solid #0c323b;
}
a.btn.teal-blue.glass,
.btn.teal-blue.glass {
  border: 2px solid #1c3b47;
  background-color: transparent;
  color: #1c3b47;
}
a.btn.teal-blue.glass:hover,
.btn.teal-blue.glass:hover {
  background-color: #1c3b47;
  color: #fff;
}
a.btn.blue-dkr,
.btn.blue-dkr {
  background-color: #127796;
  border: 2px solid #127796;
}
a.btn.blue-dkr:hover,
.btn.blue-dkr:hover {
  background-color: #19aacf;
  border: 2px solid #19aacf;
}
a.btn.navy,
.btn.navy {
  background-color: #1c3b47;
  border: 2px solid #1c3b47;
}
a.btn.navy:hover,
.btn.navy:hover {
  background-color: #1c3b47;
  border: 2px solid #1c3b47;
}
a.btn.navy.glass,
.btn.navy.glass {
  border: 2px solid #1c3b47;
  background-color: transparent;
  color: #1c3b47;
}
a.btn.navy.glass:hover,
.btn.navy.glass:hover {
  background-color: #1c3b47;
  color: #fff;
}
a.btn.small,
.btn.small {
  font-size: 0.8em;
  padding: 0.5em 1em;
  line-height: 1.3em;
}
a.btn.full-width,
.btn.full-width {
  display: block;
}
@media only screen and (min-width: 40.063em) {
  a.btn,
  .btn {
    display: inline-block;
  }
}
button,
input[type=submit] {
  border: 0;
  background: #1a84ad;
  border-bottom: 2px solid #127796;
  border-radius: 2px;
  color: #fff;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  font: 18px "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  display: inline-block;
  width: 200px;
}
button:hover,
input[type=submit]:hover {
  background: #127796;
  text-decoration: none;
}

.cargoForm input {
  width: 140px;
  display: inline-block;
  margin:10px;
}
