<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.ClassMapper">
    <cache/>
    <!--<cache-ref namespace="mapper.StudentMapper"/>-->
    <update id="updateClassName">
        UPDATE class SET name = #{name} WHERE id = #{id}
    </update>
</mapper>
