<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.StudentMapper">
    <cache/>

    <select id="getStudentById" parameterType="int" resultType="entity.StudentEntity">
        SELECT id,name,age FROM student WHERE id = #{id}
    </select>

    <select id="getStudentByIdWithClassInfo" parameterType="int" resultType="entity.StudentEntity">
        SELECT  s.id,s.name,s.age,class.name as className
        FROM classroom c
        JOIN student s ON c.student_id = s.id
        JOIN class ON c.class_id = class.id
        WHERE s.id = #{id};
    </select>

    <insert id="addStudent" parameterType="entity.StudentEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO student(name,age) VALUES(#{name}, #{age})
    </insert>

    <update id="updateStudentName">
        UPDATE student SET name = #{name} WHERE id = #{id}
    </update>
</mapper>








