<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
  <bean
    class="com.baeldung.multibeaninstantiation.solution3.PersonFactoryPostProcessor">
  </bean>

  <bean
    class="com.baeldung.multibeaninstantiation.solution3.Person"></bean>

  <bean name="human"
    class="com.baeldung.multibeaninstantiation.solution3.Human">
    <property name="PersonOne" ref="personOne" />
    <property name="PersonTwo" ref="personTwo" />
  </bean>
</beans>