**/.idea
**/*.iml

**/.settings
**/.buildpath
**/.classpath
**/.project

**/nbproject
**/nbactions.xml
**/nb-configuration.xml

**/bin
**/target
**/tmp

**/*.log*

**/*.lck*
**/*.lock*

**/*.cache
**/.DS_Store

**/*[._-]private.*
**/*[._-]local.*
