<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="org.baeldung" level="INFO" />
  <logger name="org.springframework" level="WARN" />


  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>