<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        # Console appender
        <Console name="stdout" target="SYSTEM_OUT">
            # Pattern of log message for console appender
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </Console>

        # File appender
        <File name="fout" fileName="log4j/target/baeldung-log4j2.log" immediateFlush="false" append="false">
            # Pattern of log message for file appender
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
        </File>

		# Rolling appender
		<RollingFile name="rollout1" fileName="log4j/target/log4j2/roll1/baeldung-log4j.log"
			filePattern="log4j/target/log4j2/roll1/baeldung-%d{MM-dd-yyyy}.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
		</RollingFile>

        <RollingFile name="rollout2" fileName="log4j/target/log4j2/roll2/baeldung-log4j.log"
                     filePattern="log4j/target/log4j2/roll1/baeldung-%d{MM-dd-yyyy}.%i.log.gz" ignoreExceptions="false">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 KB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="log4j/target/log4j2/roll1/baeldung-*.log.gz" />
                    <IfLastModified age="20s" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        # Override log level for specified package
        <Logger name="com.baeldung.log4j2" level="TRACE"/>
        
		<Logger name="com.baeldung.log4j2.Log4j2RollingExample" level="TRACE" >
			<AppenderRef ref="rollout1"/>
		</Logger>        

        <AsyncRoot level="DEBUG">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="fout"/>
        </AsyncRoot>
    </Loggers>
</Configuration>