<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

	<!--Console appender -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %m%n" />
		</layout>
	</appender>

	<!-- File appender -->
	<appender name="fout" class="org.apache.log4j.FileAppender">
		<param name="file" value="log4j/target/baeldung-log4j.log" />
		<param name="append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %p %m%n" />
		</layout>
	</appender>

	<!-- Rolling appenders -->
	<appender name="rollout1" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="log4j/target/roll1/baeldung-log4j.log" />
		<param name="MaxFileSize" value="10KB" />
		<param name="MaxBackupIndex" value="2" /> <!-- It's one by default. -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
		</layout>
	</appender>
	<appender name="rollout2" class="org.apache.log4j.RollingFileAppender">
		<param name="file" value="log4j/target/roll2/baeldung-log4j.log" />
		<param name="MaxFileSize" value="5KB" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n" />
		</layout>
	</appender>
	<appender name="rollout3" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.FixedWindowRollingPolicy">
			<param name="ActiveFileName" value="log4j/target/roll3/baeldung-log4j-current.log" />
			<param name="FileNamePattern" value="log4j/target/roll3/baeldung-log4j-%i.log.gz" />
			<param name="MinIndex" value="7" />
			<param name="MaxIndex" value="17" /> 
		</rollingPolicy>
		<triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
			<param name="MaxFileSize" value="5" />
		</triggeringPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %c - %m%n" />
		</layout>
	</appender>
	<appender name="rollout4" class="org.apache.log4j.rolling.RollingFileAppender">
		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="FileNamePattern" value="log4j/target/roll4/baeldung-log4j-%d{yyyy-MM-dd-HH-mm}.log.gz" />
		</rollingPolicy>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p - %c - %m%n" />
		</layout>
	</appender>

	<!--Override log level for specified package -->
	<category name="com.baeldung.log4j">
		<priority value="TRACE" />
	</category>

	<category name="com.baeldung.log4j.Log4jRollingExample">
		<priority value="TRACE" />
		<appender-ref ref="rollout1" />
		<appender-ref ref="rollout2" />
		<appender-ref ref="rollout3" />
		<appender-ref ref="rollout4" />
	</category>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
		<appender-ref ref="fout" />
	</root>

</log4j:configuration>