<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Shopping Application</title>
</head>
<body>
	<h2>Select item to shop and place order!</h2>
	<form action="/order" method="post">
		<fieldset>
			<legend>Select item from dropdown</legend>
			<select name="productName">
				<option value="mmc">Memory Card</option>
				<option value="dc">Data Cable</option>
				<option value="charger">Charger</option>
				<option value="case">Case</option>
			</select> <br> <br> <input type="submit" value="Place Order">
		</fieldset>
	</form>
</body>
</html>