*.class

# Package Files #
*.war
*.ear


# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

spring-openid/src/main/resources/application.properties
