*/bin/*
bin/

*.class

# Package Files #
*.jar
*.war
*.ear


# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# Intellij
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/

# Mac
.DS_Store

# Maven
log/*
target/

# Gradle
.gradle/

spring-openid/src/main/resources/application.properties
.recommenders/
/spring-hibernate4/nbproject/

spring-all/*.log

SpringDataInjectionDemo/.mvn/wrapper/maven-wrapper.properties

spring-call-getters-using-reflection/.mvn/wrapper/maven-wrapper.properties

spring-check-if-a-property-is-null/.mvn/wrapper/maven-wrapper.properties
*.springBeans

20171220-JMeter.csv

.factorypath
dependency-reduced-pom.xml
*.so
*.dylib
*.dll

xml/src/test/resources/example_dom4j_new.xml
xml/src/test/resources/example_dom4j_updated.xml
xml/src/test/resources/example_jaxb_new.xml
core-java-io/hard_link.txt
core-java-io/target_link.txt
core-java/src/main/java/com/baeldung/manifest/MANIFEST.MF
ethereum/logs/
jmeter/src/main/resources/*-JMeter.csv
jmeter/src/main/resources/*-Basic*.csv
jmeter/src/main/resources/*-JMeter*.csv
jmeter/src/main/resources/*ReportsDashboard*.csv
jmeter/src/main/resources/dashboard/*ReportsDashboard*.csv
jmeter/src/main/resources/*FileExtractionExample.csv
jmeter/src/main/resources/*_Summary-Report.csv

ninja/devDb.mv.db

**/node_modules/
**/dist
**/tmp
**/out-tsc
**/nbproject/
**/nb-configuration.xml


persistence-modules/hibernate5/transaction.log
apache-avro/src/main/java/com/baeldung/avro/model/
jta/transaction-logs/
software-security/sql-injection-samples/derby.log
spring-soap/src/main/java/com/baeldung/springsoap/gen/
/report-*.json
transaction.log
*-shell.log
customers.xml

apache-cxf/cxf-aegis/baeldung.xml
testing-modules/report-*.json

libraries-2/*.db

apache-spark/data/output
logs/
libraries-data-io/*.docx
persistence-modules/spring-hibernate-5/com.*
spring-boot-modules/spring-boot-react/frontend/build
spring-boot-modules/spring-boot-react/frontend/node
spring-boot-modules/spring-boot-react/frontend/yarn.lock
spring-boot-modules/spring-boot-properties-3/*.log
spring-boot-modules/spring-boot-properties-3/*.gz

# SDKMan
.sdkmanrc

# Localstack
**/.localstack

#libraries-2
libraries-2/employee*
libraries-2/src/test/resources/crawler4j/**

#web-modules/ninja
devDb*.db

#jaxb
*.xjb

#neo4j
persistence-modules/neo4j/data/**
/deep-shallow-copy/.mvn/wrapper
/deep-shallow-copy/mvnw
/deep-shallow-copy/mvnw.cmd
