<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <title>Home</title>
</head>
<body>
<h1>
    <span th:text="#{welcome.message}"/>
</h1>
<p>
    Current time is <span th:text="${serverTime}"/>
</p>
<table>
    <tr>
        <td><a th:href="@{/addStudent}" th:text="#{msg.AddStudent}"/></td>
    </tr>
    <tr>
        <td><a th:href="@{/listStudents}" th:text="#{msg.ListStudents}"/></td>
    </tr>
    <tr>
        <td><a th:href="@{/listTeachers}" th:text="#{msg.ListTeachers}"/></td>
    </tr>
    <tr>
        <td><a th:href="@{/listBooks}" th:text="#{msg.ListBooks}"/></td>
    </tr>
</table>
</body>
</html>
