<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <springProfile name="kube">
        <appender name="stash" class="net.logstash.logback.appender.logstashTcpSocketAppender">
            <destination>logstash:5000</destination>
            <encoder class="net.logstash.logback/encoder.LogstashEncoder"/>
        </appender>
        <root level="INFO">
            <appender-ref ref="stash"/>
        </root>
    </springProfile>
    <springProfile name="kube, local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
        <logger name="org.springframework.web" level="INFO"/>
    </springProfile>
</configuration>