<?xml version="1.0" encoding="UTF-8" ?>
<!--
All loggers are asynchronous because of log42.component.properties in cas-server-core-logging-api.
Set -Dlog4j2.contextSelector=org.apache.logging.log4j.core.selector.BasicContextSelector or override log42.component.properties to turn off async
-->
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="5" packages="org.apereo.cas.logging">
    <Properties>
        <Property name="baseDir">/var/log</Property>
        <Property name="cas.log.level">info</Property>
        <Property name="spring.webflow.log.level">warn</Property>
        <Property name="spring.security.log.level">info</Property>
        <Property name="spring.cloud.log.level">warn</Property>
        <Property name="spring.web.log.level">warn</Property>
        <Property name="spring.boot.log.level">warn</Property>
        <Property name="ldap.log.level">warn</Property>
        <Property name="pac4j.log.level">warn</Property>
        <Property name="opensaml.log.level">warn</Property>
        <Property name="hazelcast.log.level">warn</Property>
        <Property name="log.console.stacktraces">true</Property>
        <Property name="log.file.stacktraces">false</Property>
        <!-- -Dlog.stacktraceappender=null to disable stacktrace log -->
        <Property name="log.stacktraceappender">casStackTraceFile</Property>
        <Property name="log.include.location">false</Property>
    </Properties>
    <Appenders>
        <Null name="null" />

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%highlight{%d %p [%c] - &lt;%m&gt;}%n" alwaysWriteExceptions="${sys:log.console.stacktraces}"/>
        </Console>

        <RollingFile name="file" fileName="${baseDir}/cas.log" append="true"
                     filePattern="${baseDir}/cas-%d{yyyy-MM-dd-HH}-%i.log.gz"
                     immediateFlush="false">
            <PatternLayout pattern="%highlight{%d %p [%c] - &lt;%m&gt;%n}"
                           alwaysWriteExceptions="${sys:log.file.stacktraces}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5" compressionLevel="9">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/*.log.gz" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="stacktracefile" fileName="${baseDir}/cas_stacktrace.log" append="true"
                     filePattern="${baseDir}/cas_stacktrace-%d{yyyy-MM-dd-HH}-%i.log.gz"
                     immediateFlush="false">
            <PatternLayout pattern="%highlight{%d %p [%c] - &lt;%m&gt;%n}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5" compressionLevel="9">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/*.log.gz" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <RollingFile name="auditlogfile" fileName="${baseDir}/cas_audit.log" append="true"
                     filePattern="${baseDir}/cas_audit-%d{yyyy-MM-dd-HH}-%i.log.gz"
                     immediateFlush="false">
            <PatternLayout pattern="%highlight{%d %p [%c] - %m%n}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="5" compressionLevel="9">
                <Delete basePath="${baseDir}" maxDepth="2">
                    <IfFileName glob="*/*.log.gz" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <CasAppender name="casAudit">
            <AppenderRef ref="auditlogfile" />
        </CasAppender>
        <CasAppender name="casFile">
            <AppenderRef ref="file" />
        </CasAppender>
        <CasAppender name="casStackTraceFile">
            <AppenderRef ref="stacktracefile" />
            <ExceptionOnlyFilter/>
        </CasAppender>
        <CasAppender name="casConsole">
            <AppenderRef ref="console" />
        </CasAppender>
    </Appenders>
    <Loggers>
        <Logger name="org.apereo.cas" level="${sys:cas.log.level}" />
        <Logger name="org.apereo.cas.services" level="${sys:cas.log.level}" />
        <Logger name="org.apereo.spring" level="${sys:cas.log.level}" />
        <Logger name="org.apereo.services.persondir" level="${sys:cas.log.level}" />
        <Logger name="org.apereo.cas.web.flow" level="${sys:cas.log.level}" />
        <Logger name="org.apereo.cas.web.CasWebApplication" level="${sys:cas.log.level}"/>

        <Logger name="org.apereo.inspektr.audit.support" additivity="false" level="info">
            <AppenderRef ref="casConsole"/>
            <AppenderRef ref="casFile"/>
            <AppenderRef ref="casAudit"/>
        </Logger>

        <Logger name="org.springframework.boot" level="${sys:spring.boot.log.level}" />
        <Logger name="org.springframework.boot.context.embedded" level="info" />
        <Logger name="org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration" level="${sys:spring.security.log.level}" />
        <Logger name="org.springframework.boot.autoconfigure.security" level="${sys:spring.security.log.level}" />
        <Logger name="org.springframework.boot.devtools" level="debug" />
        
        <Logger name="org.springframework" level="warn" />
        <Logger name="org.springframework.webflow" level="${sys:spring.webflow.log.level}"/>
        <Logger name="org.springframework.aop" level="warn" />
        <Logger name="org.springframework.session" level="warn"/>
        <Logger name="org.springframework.scheduling" level="info"/>
        <Logger name="org.springframework.cloud.vault" level="warn" />
        <Logger name="org.springframework.web.client" level="warn" />
        <Logger name="org.springframework.security" level="${sys:spring.security.log.level}"/>
        <Logger name="org.springframework.security.config.annotation.web.builders" level="error" />
        <Logger name="org.springframework.cloud" level="${sys:spring.cloud.log.level}"/>
        <Logger name="org.springframework.amqp" level="error" />
        <Logger name="org.springframework.integration" level="warn"/>
        <Logger name="org.springframework.messaging" level="warn"/>
        <Logger name="org.springframework.web" level="${sys:spring.web.log.level}"/>
        <Logger name="org.springframework.orm.jpa" level="warn"/>
        <Logger name="org.springframework.scheduling" level="warn"/>
        <Logger name="org.springframework.context.annotation" level="off"/>
        <Logger name="org.springframework.web.socket" level="warn"/>
        <Logger name="org.springframework.boot.diagnostics.LoggingFailureAnalysisReporter" level="trace"/>

        <Logger name="com.couchbase" level="warn" />
        <Logger name="org.apache" level="error"/>
        <Logger name="com.netflix" level="warn"/>
        <Logger name="org.quartz" level="warn"/>
        <Logger name="org.thymeleaf" level="warn"/>
        <Logger name="org.pac4j" level="${sys:pac4j.log.level}"/>

        <Logger name="org.opensaml" level="${sys:opensaml.log.level}"/>
        <Logger name="PROTOCOL_MESSAGE" level="${sys:opensaml.log.level}" />

        <Logger name="net.sf.ehcache" level="warn"/>
        <Logger name="net.jradius" level="warn"/>
        <Logger name="org.ldaptive" level="${sys:ldap.log.level}"/>
        <Logger name="com.hazelcast" level="${sys:hazelcast.log.level}" />
        <Logger name="org.jasig.spring" level="warn" />
        <Logger name="org.apache.cxf" level="warn" />
        <Logger name="org.apache.http" level="warn" />

        <Root level="warn" includeLocation="${sys:log.include.location}">
            <AppenderRef ref="casFile"/>
            <AppenderRef ref="casConsole"/>
            <AppenderRef ref="${sys:log.stacktraceappender}"/>
        </Root>
    </Loggers>
</Configuration>
