<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

  <bean id="eddie"
      class="com.springinaction.springidol.Instrumentalist">
    <property name="instrument">
      <bean class="com.springinaction.springidol.Guitar" />
    </property>
  </bean>

  <!--<start id="audience_bean" />--> 
  <bean id="audience" 
      class="com.springinaction.springidol.Audience" />
  <!--<end id="audience_bean" />-->

<!--<start id="audience_aspect" />--> 
<aop:config>
  <aop:aspect ref="audience">
    <aop:pointcut id="performance" expression=
        "execution(* com.springinaction.springidol.Performer.perform(..))" 
        /> <!--<co id="co_defPointcut"/>-->
        
    <aop:before 
        pointcut-ref="performance"
        method="takeSeats" /> <!--<co id="co_refPointcut"/>-->
    <aop:before 
        pointcut-ref="performance"
        method="turnOffCellPhones" /> <!--<co id="co_refPointcut"/>-->
    <aop:after-returning
        pointcut-ref="performance" 
        method="applaud" /> <!--<co id="co_refPointcut"/>-->
    <aop:after-throwing 
        pointcut-ref="performance" 
        method="demandRefund" /> <!--<co id="co_refPointcut"/>-->
  </aop:aspect>
</aop:config>
<!--<end id="audience_aspect" />-->

<!--<start id="audience_around_advice" />--> 
<aop:config>
  <aop:aspect ref="audience">
    <aop:pointcut id="performance2" expression=
        "execution(* com.springinaction.springidol.Performer.perform(..))" 
        />
        
    <aop:around 
        pointcut-ref="performance2"
        method="watchPerformance()" /> <!--<co id="co_around"/>-->
  </aop:aspect>
</aop:config>
<!--<end id="audience_around_advice" />-->
</beans>
