<div>
    <h2>Login</h2>
    <form name="form" ng-submit="vm.login()" role="form">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="username" ng-model="vm.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required">Username is required</span>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" ng-model="vm.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading">Login</button>
        </div>
    </form>
</div>