<persistence xmlns="http://java.sun.com/xml/ns/persistence"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd"
		version="1.0">
	<persistence-unit name="creditBill" transaction-type="RESOURCE_LOCAL">
        <class>com.juxtapose.example.ch07.jpa.CreditBill</class>
        <class>com.juxtapose.example.ch07.jpa.DestinationCreditBill</class>
		<exclude-unlisted-classes>true</exclude-unlisted-classes>
	</persistence-unit>
</persistence>