<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	  <properties resource="application.properties"/>
		
	  <typeAliases>
	  	<package name="com.mybatis3.domain"/>
	  </typeAliases>
	
	  <environments default="development">
	    <environment id="development">
	      <transactionManager type="JDBC"/>
	      <dataSource type="POOLED">
	        <property name="driver" value="${jdbc.driverClassName}"/>
	        <property name="url" value="${jdbc.url}"/>
	        <property name="username" value="${jdbc.username}"/>
	        <property name="password" value="${jdbc.password}"/>
	      </dataSource>
	    </environment>
	  </environments>
	  
	  <mappers>
	    <mapper resource="com/mybatis3/mappers/StudentMapper.xml"/>
	  </mappers>
  	
  	
</configuration>