<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %kvp%n</pattern>
        </encoder>
    </appender>

    <appender name="AccessLog" class="ch.qos.logback.core.FileAppender">
        <file>netty-access.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="AccessLog"/>
    </appender>

    <logger name="reactor.netty.http.server.AccessLog" level="INFO" additivity="false">
        <appender-ref ref="Console"/>
        <appender-ref ref="Async"/>
    </logger>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>
</configuration>
