<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<bean id="helloWorld" class="com.examples.Helloworld"/>
	<bean id="aroundAdvice" class="com.examples.XMLAroundAdvice"/>
	<bean id="beforeAdvice" class="com.examples.XMLBeforeAdvice"/>
	<bean id="afterAdvice" class="com.examples.XMLAfterAdvice"/>
	<aop:aspectj-autoproxy/>
	<aop:config>	  
	  <aop:aspect ref="beforeAdvice" order="1">
	  	<aop:before method="executeBeforeAdvice" pointcut="execution (* com.examples.Helloworld.*(..))"/>
	  </aop:aspect>
	  <aop:aspect ref="afterAdvice" order="2">
	  	<aop:before method="executeAfterAdvice" pointcut="execution (* com.examples.Helloworld.*(..))"/>
	  </aop:aspect>
	  <aop:aspect ref="aroundAdvice" order="3">
	  	<aop:around method="executeAroundAdvice" pointcut="execution (* com.examples.Helloworld.*(..))"/>
	  </aop:aspect>
	</aop:config>
</beans>