<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- 定义目标对象 -->
	<bean id="person" class="com.examples.cglib.PersonServiceImpl"></bean>
	<!-- 定义通知 -->
	<bean id="beforeAdvice" class="com.examples.cglib.MethodBefore"></bean>
	<bean id="afterAdvice" class="com.examples.cglib.MethodAfter"></bean>
	<!-- 定义代理对象 -->
	<bean id="personProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<!-- 指定目标对象  -->
		<property name="target" ref="person"></property>
		<!-- 指定拦截器（通知） -->
		<property name="interceptorNames">
			<list>
				<value>afterAdvice</value>
				<value>beforeAdvice</value>
			</list>
		</property>
	</bean>
</beans>