<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	    http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--<start id="duke_bean" />-->
  <bean id="duke" 
      class="com.springinaction.springidol.Juggler">
    <constructor-arg value="15" />
  </bean>
  <!--<end id="duke_bean" />-->

</beans>
