# Prettier configuration

printWidth: 140
singleQuote: true
tabWidth: 2
useTabs: false

# js and ts rules:
arrowParens: avoid

# jsx and tsx rules:
bracketSameLine: false

plugins:
  - prettier-plugin-packagejson
  - prettier-plugin-java

# java rules:
overrides:
  - files: "*.java"
    options:
      tabWidth: 4
