main {
  background-image: url("https://images.unsplash.com/photo-1534955788645-78f6111c7627?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0aa5b00aa8b75244ead2357914302777&auto=format&fit=crop&w=1650&q=80");
}

input[type="submit"] {
  width: 100px;
  align-content: center;
  text-align: center;
  background: transparent;
  border-radius: 25px;
  padding: 6px;
  color: #fff;
}

input[type="submit"]:hover {
  opacity:.6;
}