<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd"
>

    <beans profile="dev">
        <bean id="devDatasourceConfig" class="org.baeldung.profiles.DevDatasourceConfig"/>
    </beans>

    <beans profile="production">
        <bean id="productionDatasourceConfig" class="org.baeldung.profiles.ProductionDatasourceConfig"/>
    </beans>
</beans>