<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="FILE_NAME" value="application-log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="com.baeldung.logging.logback.filter.CustomFilter"/>
        <withJansi>true</withJansi>
        <encoder>
            <pattern>%d{yyyy-MM-dd} %highlight(%-5level) %cyan(%logger{15}) - %msg %n</pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd} %-5level %logger{15} - %msg %n</pattern>
        </encoder>
        <file>${FILE_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOG_FILE}.%i</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>32MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="com.baeldung.logging" level="INFO"/>

    <root level="ERROR">
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>