<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:component-scan base-package="services" />
    <bean id="lowercaseTextService" class="com.baeldung.services.LowercaseTextService"></bean>
    <bean id="uppercaseTextService" class="com.baeldung.services.UppercaseTextService"></bean>
    <bean id="TextPrinter" class="com.baeldung.services.TextPrinter">
        <property name="textService"  ref="lowercaseTextService"></property>
    </bean>
</beans>
