<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.baeldung.injection.XMLBeanConstructorInjection">
        <constructor-arg ref="springAnnotatedBean"/>
    </bean>

    <bean class="com.baeldung.injection.XMLBeanSetterInjection">
        <property name="springAnnotatedBean" ref="springAnnotatedBean"/>
    </bean>

</beans>