<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />
	 
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="reactor" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="io.netty" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.web.reactive" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	
	
	<logger name="ch.qos.logback" level="ERROR" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>