<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.apache.camel.test.junit5" level="WARN"/>

    <logger name="org.apache.camel.impl.engine" level="WARN"/>

    <logger name="org.apache.zookeeper" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="ch.qos.logback.classic.joran.action" level="WARN"/>
</configuration>