grant codebase "file:./jaas-app/target/jaas-app.jar" {
    permission javax.security.auth.AuthPermission "createLoginContext.jaasApplication";
    permission javax.security.auth.AuthPermission "doAsPrivileged";
    permission java.lang.RuntimePermission "readFileDescriptor";
    permission java.lang.RuntimePermission "writeFileDescriptor";
};

grant codebase "file:./jaas-login-module/target/jaas-login-module.jar" {
    permission javax.security.auth.AuthPermission "modifyPrincipals";
};

grant principal com.sun.security.auth.UserPrincipal "testuser" {
    permission com.baeldung.security.jaas.app.ResourcePermission "test_resource";
};
