<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">


	<bean id="helloWorld" class="org.springframework.tutorial.tutorial5.HelloWorld"
		init-method="init" destroy-method="destroy"> <!-- 使用xml配置调用自定义 初始化和销毁方法 -->

		<property name="message" value="Hello lihongjie!" />
	</bean>

	<bean id="helloWorld1" class="org.springframework.tutorial.tutorial5.HelloWorld1">

		<property name="message" value="Hello World" />
	</bean>
	
	<bean id="helloWorld2" class="org.springframework.tutorial.tutorial5.HelloWorld2"
	init-method="init" destroy-method="destroy">

		<property name="message" value="Hello World" />
	</bean>
	
	<bean class="org.springframework.tutorial.tutorial5.InitHelloWorld" />
</beans>
