<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd">

    <bean id="perfomanceMeter" class="com.baeldung.pointcutadvice.PerformanceAspect"/>
    <bean id="fooDao" class="com.baeldung.pointcutadvice.dao.FooDao"/>

    <aop:config>
        <aop:pointcut id="anyDaoMethod" expression="@target(org.springframework.stereotype.Repository)"/>
        <aop:aspect ref="perfomanceMeter">
            <aop:around method="measureMethodExecutionTime" pointcut-ref="anyDaoMethod"/>
        </aop:aspect>
    </aop:config>
</beans>