<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0">
  <!-- path to application.conf file, required -->
  <!-- note that this file is always loaded as an absolute path from the classpath -->
  <context-param>
    <param-name>io.ktor.ktor.config</param-name>
    <param-value>application.conf</param-value>
  </context-param>

  <servlet>
    <display-name>KtorServlet</display-name>
    <servlet-name>KtorServlet</servlet-name>
    <servlet-class>io.ktor.server.servlet.ServletApplicationEngine</servlet-class>

    <!-- required! -->
    <async-supported>true</async-supported>

    <!-- 100mb max file upload, optional -->
    <multipart-config>
      <max-file-size>304857600</max-file-size>
      <max-request-size>304857600</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>

  <servlet-mapping>
    <servlet-name>KtorServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>