<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
		    <!-- MDC and NDC -->
			<PatternLayout
				pattern="%-4r [%t] %5p %c{1} - %m - %x - tx.id=%X{transaction.id} tx.owner=%X{transaction.owner}%n" />
		    <!-- MDC Only -->
			<!-- <PatternLayout
				pattern="%-4r [%t] %5p %c{1} - %m - tx.id=%X{transaction.id} tx.owner=%X{transaction.owner}%n" />  -->
		    <!-- NDC Only -->
			<!-- <PatternLayout
				pattern="%-4r [%t] %5p %c{1} - %m - %x%n" />  -->
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.baeldung.log4j2" level="TRACE" />

		<AsyncRoot level="DEBUG">
			<AppenderRef ref="stdout" />
		</AsyncRoot>
	</Loggers>
</Configuration>