<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Security SSO Client 2</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
</head>

<body>
<div class="container">
	<div class="col-sm-12">
		<h1>Secured Page</h1>
		Welcome, <span th:text="${#authentication.name}">Name</span>
		<br/>
        Your authorities are <span th:text="${#authentication.authorities}">authorities</span>        
	</div>
</div>
</body>
</html>