<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Users List</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js"></script>
<script src="js/users.js"></script>
</head>
<body ng-app="App" ng-controller="UsersCtrl">
<form>
Email: <input type="text" ng-model="email"/><br />
Name: <input type="text" ng-model="name" /><br />
<input type="submit" ng-click="addUser()" value="Add User"/>
</form>

<br />
<table>
<tr ng:repeat="user in users" >
<td>{{user.email}}
</td>
<td>{{user.name}}</td>
</tr>
</table>

</body>
</html>