<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>elasticsearch - %date [%thread] %-5level %logger{36} - %message%n
            </pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="WARN" />

    <!-- in order to debug some elastic issues, this needs to be DEBUG or INFO -->
    <logger name="org.elasticsearch" level="INFO" />
    <logger name="com.baeldung.spring" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>