@font-face {
  font-family: myFont;
  src: url("../fonts/Official.ttf");
}
.fontclass{
  font-family: myFont;
  font-size:20px;
}
.styleclass{
  font-family: "Times New Roman", Times, serif;
  font-size:30px;
  font-weight: normal;
  color: 6600CC;
}