<configuration>

    <appender name="out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg %kvp%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="out"/>
    </root>

</configuration>