<html>
    <head>
        <title>Cargotracker</title>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/normalize.css/normalize.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/foundation/css/foundation.min.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("main.css")"/>
    </head>
    <body>
        <div id="content"></div>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/react/react.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/react/react-dom.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/react-router/ReactRouter.js")"></script>
        <script type="text/javascript" src="https://npmcdn.com/history@@1.17.0/umd/History.min.js"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("main.js")"></script>
    </body>
</html>
