
# This is a sample api mustache template.  It is representing a fictitious
# language and won't be usable or compile to anything without lots of changes.
# Use it as an example.  You can access the variables in the generator object
# like such:

# use the package from the `apiPackage` variable
package: {{package}}

# operations block
{{#operations}}
classname: {{classname}}

# loop over each operation in the API:
{{#operation}}

# each operation has an `operationId`:
operationId: {{operationId}}

# and parameters:
{{#allParams}}
{{paramName}}: {{dataType}}
{{/allParams}}

{{/operation}}

# end of operations block
{{/operations}}