<configuration scan="true" scanPeriod="1 minute">

    <variable
            name="logPattern"
            value="%-30(%d{MMM dd YYYY HH:mm:ss.SSS} [%thread]) %-5level %logger{5} [%file:%line] - %msg%n"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>
	
        <appender name="FILE" class="ch.qos.logback.core.FileAppender">
            <file>C:\Users\danidemi\tmp\baledung\app.log</file>
            <append>false</append>
            <encoder>
                <pattern>${logPattern}</pattern>
            </encoder>
        </appender>	

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
    </root>
</configuration>