<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
>

    <bean id="RedirectedUrl" class="org.springframework.web.servlet.view.RedirectView">
        <property name="url" value="redirectedUrl" />
    </bean>

</beans>