<div>
  <h2>
    <span id="gateway-page-heading">Gateway</span>

    <button class="btn btn-primary float-end" (click)="refresh()" (disabled)="(updatingRoutes)">
      <fa-icon icon="sync"></fa-icon> <span>Refresh</span>
    </button>
  </h2>

  <h3>Current routes</h3>

  <div class="table-responsive">
    <table class="table table-striped" aria-describedby="gateway-page-heading">
      <thead>
        <tr>
          <th scope="col">URL</th>
          <th scope="col">Service</th>
          <th scope="col">Available servers</th>
        </tr>
      </thead>
      <tbody>
        @for (route of gatewayRoutes; track route.path) {
          <tr>
            <td>{{ route.path }}</td>
            <td>{{ route.serviceId }}</td>
            <td>
              @if (route.serviceInstances.length === 0) {
                <div class="label label-danger">Warning: no server available!</div>
              }

              <div class="table-responsive">
                @if (route) {
                  <table class="table table-striped">
                    @for (instance of route.serviceInstances; track instance.uri) {
                      <tr>
                        <td>
                          <a href="{{ instance.uri }}" target="_blank">{{ instance.uri }}</a>
                        </td>
                        <td>
                          @if (instance.instanceInfo) {
                            <div class="badge bg-{{ instance.instanceInfo.status === 'UP' ? 'success' : 'danger' }}">
                              {{ instance.instanceInfo.status }}
                            </div>
                          } @else {
                            <div class="badge bg-warning">?</div>
                          }
                        </td>
                        <td>
                          @for (entry of instance.metadata | keyvalue; track entry.key) {
                            <span>
                              <span class="badge bg-default fw-normal">
                                <span class="badge rounded-pill bg-info fw-normal">{{ entry.key }}</span>
                                <span class="text-secondary">{{ entry.value }}</span>
                              </span>
                            </span>
                          }
                        </td>
                      </tr>
                    }
                  </table>
                }
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
