.face_container {margin-left: 4em; position: relative;}
.face_first {position: static; vertical-align: bottom;}
.face_other {position: absolute; left: 0; top: 0;}

.left {float: left;}
.right {float: right;}
