.idea/artifacts/*
.idea/inspectionProfiles/*
.idea/copyright/*
.idea/dataSources.ids
.idea/dataSources.xml
.idea/workspace.xml
.idea/*
.settings/
*.project
*.classpath
.classpath
.target/
.target/*
*.iml
/target/
*.class

#folders#
/target
/neoDb*
/data
/src/main/webapp/WEB-INF/classes
*/META-INF/*

# Packaged files #
*.jar
*.war
*.ear