*/bin/*
bin/

*.class

# Package Files #
*.jar
*.war
*.ear


# Eclipse
.settings/
*.project
*.classpath
.prefs
*.prefs
.metadata/

# Intellij
.idea/
*.iml
*.iws
out/

# VSCode
.vscode/

# Mac
.DS_Store

# Maven
log/*
target/
.mvn/
/.mvn

# Gradle
.gradle/
