<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Header</title>
  </head>
  <body id="body">
    <!--
    Only the internal content of the following div is included within
    the template, in header fragment
    -->
    <div class="bg-header" data-th-fragment="header">
        <div class="jumbotron bg-banner">
            <div class="container">
              <h1 class="project-name">roo</h1>
              <p class="project-tagline" data-th-text="#{info_homepage_project}">Hello, this is your home page.</p>
            </div>
        </div>
    </div>
  </body>
</html>