<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"> 

<!-- 	<bean id="helloWorld" class="org.springframework.tutorial.tutorial4.HelloWorld">
		
		<property name="message" value="Hello lihongjie!"/>
	</bean> -->
	<bean id="helloWorld" class="org.springframework.tutorial.tutorial4.HelloWorld" scope="singleton">
		
		<property name="message" value="Hello lihongjie!"/>
	</bean>
	
	<bean id="myPrototype" class="org.springframework.tutorial.tutorial4.HelloWorld" scope="prototype">
		
		<property name="message" value="Hello lihongjie!"/>
	</bean>
	
</beans>