#header, #footer {
    width: 100%;
    height: 30px;
    background: #eee;
}
.active {
    background: #ff0000;
    color: #fff;
}

#loading {
    position: absolute;
    right: 50px;
    top: 10px;
    background: #000;
    color: #fff;
}

.success {
    color: #ff0000;
}