<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="computer" class="com.baeldung.Computer">
        <constructor-arg>
            <ref bean="processor"/>
        </constructor-arg>
        <property name="hardDisk">
            <ref bean="hardDisk"/>
        </property>
    </bean>

    <bean id="processor" class="com.baeldung.model.Processor">
        <property name="name" value="Intel Core i7-6650U"/>
    </bean>

    <bean id="hardDisk" class="com.baeldung.model.HardDisk">
        <property name="name" value="SSD TRANSCEND MTS400"/>
    </bean>

    <bean id="graphicsCard" class="com.baeldung.model.GraphicsCard">
        <property name="name" value="NVIDIA GeForce GTX980M"/>
    </bean>

    <bean id="screen" class="com.baeldung.model.Screen">
        <property name="size" value="17 inches"/>
    </bean>

    <bean id="operatingSystem" class="com.baeldung.model.OperatingSystem">
        <property name="name" value="Windows 10 Pro"/>
    </bean>

    <context:annotation-config/>
</beans>