<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Security Thymeleaf</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Spring Security Thymeleaf</a>
      </div>
    </div>
</nav>

<div class="container">
    <div sec:authorize="hasRole('ROLE_ADMIN')">
	    Only admins can see this message
	</div>
	
	<div sec:authorize="hasRole('ROLE_USER')">
	    Only users can see this message
	</div>
    <hr/>
    
    <div sec:authorize-url="/admin">
         Only users who can call "/admin" URL can see this message
    </div>
</div>
</body>
</html>