<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include
        resource="org/springframework/boot/logging/logback/base.xml" />
    <appender name="LISTAPPENDER"
        class="com.baeldung.failureanalyzer.utils.ListAppender">
    </appender>
    <logger
        name="org.springframework.boot.diagnostics.LoggingFailureAnalysisReporter">
        <appender-ref ref="LISTAPPENDER" />
    </logger>
    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration> 