<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.hibernate" level="info"/>
    	<Logger name="org.hibernate.SQL" level="debug"/>
    	<Logger name="org.hibernate.type.descriptor.sql" level="trace"/>
    	<Logger name="org.hibernate.stat" level="debug" />
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>