<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.baeldung.spring.core" />

	<bean id="department" class="com.baeldung.spring.core.Department">
		<constructor-arg name="departmentName" value="Sales" type="String" />
		<constructor-arg name="departmentNumber" value="S01" type="String" />
	</bean>

	<bean id="employee" class="com.baeldung.spring.core.Employee">
		<constructor-arg name="department" ref="department" />
	</bean>

	<bean id="subject" class="com.baeldung.spring.core.Subject">
		<property name="subjectName" value="Maths" />
		<property name="subjectId" value="M1" />
	</bean>

	<bean id="student" class="com.baeldung.spring.core.Student">
		<property name="studentName" value="student1" />
		<property name="studentId" value="123" />
		<property name="subject" ref="subject" />
	</bean>

</beans>