<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baeldung.mappers.BookingMapper">

    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO BOOKINGS
        (
        EMAIL,
        STATUS
        )
        VALUES
        (
        #{booking.email},
        #{booking.status},
        );
    </insert>
</mapper>