<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!-- setter based bean initialization -->
    <bean id="dependencyBean" class="com.baeldung.spring.dependencyInjection.beans.DependencyBean">
        <property name="content" ref="content"/>
    </bean>

    <!--  bean initialized with default constructor -->
    <bean id="content" class="com.baeldung.spring.dependencyInjection.beans.Content"/>

    <!-- constructor based bean initialization -->
    <bean id="mrBean" class="com.baeldung.spring.dependencyInjection.beans.MrBean">
        <constructor-arg ref="dependencyBean"/>
    </bean>

</beans>