<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<CustomLevels>
		<CustomLevel name="NEW_XML_LEVEL" intLevel="350" />
	</CustomLevels>
	<Filters>
		<BurstFilter level="INFO" rate="10" maxBurst="100" />
	</Filters>
	<Appenders>
		<Console name="ColoredConsole" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, NEW_LEVEL=black, NEW_XML_LEVEL=black} - %msg%n" />
		</Console>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %level - %msg%n" />
		</Console>
		<RollingFile name="RollingFileAppender" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<JSONLayout complete="true" compact="false" />
			<Policies>
				<OnStartupTriggeringPolicy />
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<!-- 
		<JDBC name="JDBCAppender" tableName="logs">
			<DataSource jndiName="java:/comp/env/jdbc/LoggingDataSource" />
			<Column name="date" isEventTimestamp="true" />
			<Column name="logger" pattern="%logger" />
			<Column name="level" pattern="%level" />
			<Column name="message" pattern="%message" />
			<Column name="exception" pattern="%ex{full}" />
		</JDBC>
		
		<Failover name="FailoverAppender" primary="JDBCAppender">
			<Failovers>
				<AppenderRef ref="RollingFileAppender" />
				<AppenderRef ref="Console" />
			</Failovers>
		</Failover>
		 -->
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="ColoredConsole" />
		</Root>
		<Logger name="ConsoleLogger">
			<AppenderRef ref="Console" />
		</Logger>
		<Logger name="RollingFileLogger">
			<AppenderRef ref="RollingFileAppender" />
		</Logger>
		<!-- 
		<Logger name="JDBCLogger">
			<AppenderRef ref="JDBCAppender" />
			<RegexFilter regex="*jdbc*" onMatch="ACCEPT" onMismatch="DENY" />
		</Logger>
		 -->
	</Loggers>
</Configuration>