<?xml version="1.0" ?>
<Configuration>
	<Appenders>
		<Console name="Stdout">
			<PatternLayout pattern="%d [%t] %-5level: %msg%n%throwable" />
			<MarkerFilter onMatch="ACCEPT" onMismatch="DENY" marker="FLOW" />
		</Console>
		<RollingFile name="rolling" fileName="target/rolling.log"
			filePattern="target/archive/rolling-%d{MM-dd-yy}.log.gz">
			<PatternLayout pattern="%d [%t] %-5level: %msg%n%throwable" />
			<Policies>
				<CronTriggeringPolicy schedule="0 0 0 * * ?" />
				<SizeBasedTriggeringPolicy size="100M" />
			</Policies>
		</RollingFile>
		<File name="FileSystem" fileName="target/logging.log">
			<PatternLayout pattern="%d [%t] %-5level: %msg%n%throwable" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="com" level="DEBUG" additivity="false">
			<AppenderRef ref="Stdout" />
			<AppenderRef ref="rolling" />
			<AppenderRef ref="FileSystem" />
		</Logger>
		<Root level="ERROR" additivity="false">
			<AppenderRef ref="Stdout" />
			<AppenderRef ref="rolling" />
			<AppenderRef ref="FileSystem" />
		</Root>
	</Loggers>
</Configuration>