<html>

<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title>Role vs Granted Authority Example</title>
</head>

<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
    </div>
  </div>
</nav>
    <div class="container">
    	<br/>
        <a href="/protectedbynothing">Unprotected Resource</a><br/>
        <a href="/protectedbyrole">Resource Protected By Role</a><br/>
        <a href="/protectedbyauthority">Resource Protected By Authority</a>
    </div>
</body>

</html>