<?xml version="1.0" encoding="UTF-8"?>
<!--<start id="component_scan" />--> 
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context 
     http://www.springframework.org/schema/context/spring-context.xsd">

  <context:component-scan 
      base-package="com.springinaction.springidol">
  </context:component-scan>

</beans>
<!--<end id="component_scan" />-->
