<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

        <cache:annotation-driven />

           <context:annotation-config/>
           <bean class="org.baeldung.caching.config.myAppConfig"/>


        <!-- the service that you wish to make cacheable.-->
       <bean id="customerDataService" class="org.baeldung.caching.example.CustomerDataService"/>

       <!-- define caching behavior -->
       <cache:advice id="cachingBehavior" cache-manager="cacheManager">
           <cache:caching cache="addresses">
               <cache:cacheable method="getAddress" key="#customer.name"/>
           </cache:caching>
       </cache:advice>

       <!-- apply the behavior to all the implementations of CustomerDataService interface -->
       <aop:config>
           <aop:advisor advice-ref="cachingBehavior"
       pointcut="execution(*org.baeldung.caching.example.CustomerDataService.*(..))"/>
       </aop:config>

</beans>
