<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Security OAuth</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp" ng-controller="mainCtrl">

<div th:include="header"></div>

<div class="container">
<div class="alert alert-info" ng-show="message">{{message}}</div>
<h1>Foo Details</h1>
<div class="col-sm-6">
<div class="col-sm-12">
	<label class="col-sm-2">ID</label>
	<span class="col-sm-10"><input class="form-control" ng-model="foo.id"/></span>
</div>

<div class="col-sm-12">
    <label class="col-sm-2">Name</label>
    <span class="col-sm-10"><input class="form-control" ng-model="foo.name"/></span>
</div>

<div class="col-sm-12">
<a class="btn btn-default" href="#" ng-click="getFoo()">Get Foo</a>
<a class="btn btn-default" href="#" ng-click="createFoo()">Create Foo</a>
</div>
</div>

<br/>
<hr/>
<br/>
<br/>
<br/>
<h1>Bar Details</h1>
<div class="col-sm-6">
<div class="col-sm-12">
    <label class="col-sm-2">ID</label>
    <span class="col-sm-10"><input class="form-control" ng-model="bar.id"/></span>
</div>

<div class="col-sm-12">
    <label class="col-sm-2">Name</label>
    <span class="col-sm-10"><input class="form-control" ng-model="bar.name"/></span>
</div>

<div class="col-sm-12">
<a class="btn btn-default" href="#" ng-click="getBar()">Get Bar</a>
<a class="btn btn-default" href="#" ng-click="createBar()">Create Bar</a>
</div>
</div>


</div>
</body>
</html>