<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name = "hibernate.dialect">
        org.hibernate.dialect.MySQLDialect
    </property>
    <property name = "hibernate.connection.driver_class">
        com.mysql.cj.jdbc.Driver
    </property>
    <property name = "hibernate.connection.url">
        jdbc:mysql://127.0.0.1:3306/larablog?serverTimezone=UTC
    </property>
    <property name="hibernate.connection.username">
        root
    </property>
    <property name = "hibernate.connection.password">
        root
    </property>
    <property name = "hibernate.show_sql">
          true
    </property>
      <property name = "hibernate.format_sql">
          true
      </property>

    <mapping class="com.baeldung.models.User" />
    <mapping class="com.baeldung.models.Post" />
  </session-factory>
</hibernate-configuration>