.form-label {
	display:block;
	margin-top:16px;
	font-weight:bold;
}

.form-input {
	border-radius:5px;
	display:inline;
}

.form-input p {
	margin:0;
}

.form-button {
	margin:5px;
}

.form-error input.ng-invalid {
    border-color:red;
}
        
.check {
  display:inline;
  color:green;
  font-weight:bold;
}

.error-messages {
	color:red;
}

.error-messages p {
	margin:0;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#users td, #users th {
    border: 1px solid dodgerblue;
    border-collapse:collapse;
    padding: 4px;
    width:200px;
}

#users tr:nth-child(even){background-color: lavender;}

#users th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: dodgerblue;
}

#users {
	border-collapse:collapse;
}

button {
	border-radius:5px;
	cursor:pointer;
	margin:10px;
	padding:5px;
}

.form-button-save {
	background-color:lightgreen;
}

.form-button-reset {
	background-color:lightpink;
}