<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans.xsd
	 	http://www.springframework.org/schema/tx
	 	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	 	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.baeldung">
	</context:component-scan>

	<context:annotation-config />

	<bean id="myPropertyConfigurator"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound" value="true" />
		<property name="ignoreUnresolvablePlaceholders" value="true" />
		<property name="locations">
			<list>
				<value>classpath:properties/primary-datasource.properties</value>
				<value>classpath:properties/secondary-datasource.properties</value>
			</list>
		</property>
	</bean>

	<import resource="../datasources/user-datasource.xml" />
	<import resource="../datasources/user-audit-datasource.xml" />

</beans>
