<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="park" class="com.baeldung.spring.ParkingLot">
        <constructor-arg ref="car" />
    </bean>

    <bean id="car" class="com.baeldung.spring.Car">
        <property name="type"  value="Sedan" />
    </bean>

   

</beans>