<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="injectedBean" class="com.baeldung.dependencyInjections.InjectedBean" />
	<bean id="constructorBasedInjection"
		class="com.baeldung.dependencyInjections.ConstructorBasedInjection">
		<constructor-arg ref="injectedBean" />
	</bean>

	<bean id="setterBasedInjection" class="com.baeldung.dependencyInjections.SetterBasedInjection">
		<property name="setterInjectedBean" ref="injectedBean"></property>
	</bean>

</beans>