<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Scan the JavaConfig file -->
	<context:component-scan base-package="com.baeldung.spring.dependency.injection" />

	<bean id="singer" class="com.baeldung.spring.dependency.injection.beans.Singer">
		<property name="name" value="Adele" />
	</bean>

	<bean id="lyrics" class="com.baeldung.spring.dependency.injection.beans.Lyrics">
		<property name="id" value="lyrics.skyfall" />
	</bean>

	<bean id="song" class="com.baeldung.spring.dependency.injection.beans.Song">
		<property name="name" value="Sky Fall" />
		<property name="lyrics" ref="lyrics" />
		<constructor-arg name="singer" ref="singer" />
	</bean>

</beans>

