<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<form th:action="@{/customLogin}" method="post">
    <fieldset>
        <label for="username">Login:</label>
        <input id="username" name="username">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password">
    </fieldset>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit" value="Login">
    <div th:if="${param.error}" class="bad-login">Bad login or password.</div>
    <div th:if="${param.logout}">Log out successful.</div>
</form>
</body>
</html>