<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>widlfly-web</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>TestJPAServlet</display-name>
		<servlet-name>TestJPAServlet</servlet-name>
		<servlet-class>TestJPAServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestJPAServlet</servlet-name>
		<url-pattern>/TestJPAServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>TestEJBServlet</display-name>
		<servlet-name>TestEJBServlet</servlet-name>
		<servlet-class>TestEJBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestEJBServlet</servlet-name>
		<url-pattern>/TestEJBServlet</url-pattern>
	</servlet-mapping>
</web-app>