<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="header :: copy"></head>

<body>
	<h1>Database Failure</h1>
	<p>An internal data storage error has occurred accessing:</p>
	<p>
		<code th:text="${#httpServletRequest.requestURL}">Request URL</code>
	</p>
	<p>
		<code th:text="${ex}">Exception</code>
		<blockquote>
			<i>Note: You would never generate a page that displays a Java
				exception to an end-user in a real application</i>
		</blockquote>
	</p>

	<p>
		You are seeing this error page due to the definition of the
		<code>SimpleMappingExceptionResolver</code>
		.
	</p>

	<div th:substituteby="footer :: copy"></div>

</body>
</html>
