<server description="Sample Liberty server">
	<featureManager>
		<feature>appSecurity-2.0</feature>
		<feature>jaxrs-2.1</feature>
		<feature>jsonp-1.1</feature>
		<feature>cdi-2.0</feature>
		<feature>jpa-2.2</feature>
		<feature>mpMetrics-2.0</feature>
		<feature>mpHealth-2.0</feature>
		<feature>mpConfig-1.3</feature>
		<feature>restConnector-2.0</feature>
		<feature>jdbc-4.2</feature>
	</featureManager>

	<keyStore id="defaultKeyStore" password="Liberty" />
	<quickStartSecurity userName="blogAdmin"
		userPassword="blogAdminPassword" />


	<webApplication location="open-liberty.war"
		contextRoot="/" />
	<mpMetrics authentication="false" />

	<logging
		traceSpecification="com.ibm.ws.microprofile.health.*=all" />

	<httpEndpoint host="*" httpPort="${default.http.port}"
		httpsPort="${default.https.port}" id="defaultHttpEndpoint" />

	<variable name="io_openliberty_guides_system_inMaintenance"
		value="false" />

	<library id="derby">
		<fileset dir="${shared.resource.dir}" includes="derby*.jar" />
	</library>

	<library id="H2JDBCLib">
		<fileset dir="/lib" includes="h2-1.4.186.jar" />
	</library>

	<!-- <dataSource id="DefaultDataSource"> <jdbcDriver libraryRef="derby" 
		/> Example properties referencing an in-memory Derby Embedded database <properties.derby.embedded 
		databaseName="memory:defaultdb" createDatabase="create" user="dbuser" password="dbpass" 
		/> </dataSource> -->
	<dataSource id="h2test" jndiName="jdbc/h2test">
		<!-- Define the DataSource class names on the <jdbcDriver> element -->
		<jdbcDriver libraryRef="H2JDBCLib" />
		<properties URL="jdbc:h2:mem:testdb" />
	</dataSource>

</server>