<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.apache.derby.jdbc.EmbeddedDriver"/>
                <property name="url" value="jdbc:derby:testdb1;create=true"/>
                <property name="username" value="sa"/>
                <property name="password" value="pass123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper class="com.baeldung.mybatis.mapper.PersonMapper"/>
        <mapper class="com.baeldung.mybatis.mapper.AddressMapper"/>
    </mappers>
</configuration>