<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Uncomment these lines to see the request logs  -->
    <!--
    <logger name="io.micronaut.http.client" level="TRACE" />
    <logger name="io.micronaut.http.server" level="DEBUG" />
    -->

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>