<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/>
    </layout>
  </appender>
  <logger name="org.hibernate">
    <level value="info" />
  </logger>
  <logger name="org.hibernate.SQL">
    <level value="debug" />
  </logger>
  <logger name="org.hibernate.type.descriptor.sql">
    <level value="trace" />
  </logger>  
  <logger name="org.hibernate.stat">
    <level value="debug" />
  </logger>
  <root>
    <priority value ="info" />
    <appender-ref ref="STDOUT" />
  </root>
</log4j:configuration>