<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="book" class="org.baeldung.spring.di.demo.Book">
		<constructor-arg index="0" type="java.lang.String"
			name="bookTitle" value="Spring in Action - 3rd Edition" />
		<constructor-arg index="1" ref="author" />
		<constructor-arg index="2" type="double" name="price"
			value="1060" />
	</bean>

	<bean id="author" class="org.baeldung.spring.di.demo.Author">
		<constructor-arg index="0" type="java.lang.String"
			value="Craig Walls" />
		<constructor-arg index="1" type="java.lang.String"
			value="craigwalls@manning.com" />
	</bean>
</beans>