<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
   http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc
   http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop.xsd">

	<mvc:annotation-driven />
	
	<context:component-scan base-package="org.springframework.tutorial"/>
	

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="address"
		class="org.springframework.tutorial.tutorial9.Address"
		scope="request">
		<constructor-arg name="city" value="Varanasi" />
	 	<!-- <aop:scoped-proxy /> -->
	</bean>
	<bean id="teacher"
		class="org.springframework.tutorial.tutorial9.Teacher">

		<property name="teachAddress" ref="address" />
	</bean>
</beans>