<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
        <evaluator class="com.baeldung.logback.MyCustomEvaluator"/>
        <onMatch>ACCEPT</onMatch>
        <onMismatch>DENY</onMismatch>
    </filter>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
