<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p: %c - %m%n</Pattern>
        </layout>
    </appender>

    <!-- Application Loggers -->
    <logger name="de.slackspace.tutorials">
        <level value="debug" />
    </logger>

    <!-- Spring Loggers -->
    <logger name="org.springframework.core">
        <level value="info" />
    </logger>

    <logger name="org.springframework.beans">
        <level value="info" />
    </logger>

    <logger name="org.springframework.context">
        <level value="info" />
    </logger>

    <!-- Hibernate Loggers -->
    <logger name="org.hibernate">
        <level value="warn" />
    </logger>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>