<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Spring Security OAuth</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
</head>
<body ng-app="myApp" ng-controller="mainCtrl">

<div th:include="header"></div>

<div class="container">

<h1 class="col-sm-12">Login</h1>
<div class="col-sm-6">
<div class="col-sm-12">
	<label class="col-sm-3">Username</label>
	<input class="form-control" type="text" ng-model="loginData.username"/>
</div>

<div class="col-sm-12">
<label class="col-sm-3">Password</label>
<input class="form-control" type="password"  ng-model="loginData.password"/>
</div>

<div class="col-sm-12">
<a class="btn btn-default" href="#" ng-click="login()">Login</a>

</div>

</div>

</div>
</body>
</html>