<#macro myLayout title="Layout example">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional theme -->
    <link rel="stylesheet" href="/assets/webjars/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .error-template {padding: 40px 15px;text-align: center;}
    </style>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
<body>

    <div class="container">
        
        <#include "header.ftl.html"/>
        
        <#if (flash.error)??>
            <div class="alert alert-danger">
                ${flash.error}
            </div>
        </#if>
        
        <#if (flash.success)??>
            <div class="alert alert-success">
                ${flash.success}
            </div>
        </#if>

        <#nested/>

        <#include "footer.ftl.html"/>
        
    </div> <!-- /container -->
    <script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>
    <script type="text/javascript" src="/assets/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
</#macro>