<!DOCTYPE html>
<html lang="en" data-theme="dark" >
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">
    <link rel="stylesheet" href="/css/pico.min.css">
</head>
<body >
    <main class="container">
        <h1>Hello, <span data-th-text="${user}" id="current-username">{user}</span></h1>
        <div>
            <a href="/webauthn/register" class="btn">Register PassKey</a>
        </div>
    </main>
</body>
</html>