<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	

	<bean id="address" class="org.baeldung.dependency.injection.Address" >   		
   		<property name="city" value="Chennai"></property>   		
   		<property name="country" value="India"></property>
   	</bean>
   	
	<bean id="employeeConstructorInjection" class="org.baeldung.dependency.injection.Employee">
		<constructor-arg ref="address" />
	</bean>
	
	<bean id="employeeConstructorResolution" class="org.baeldung.dependency.injection.Employee">
		<constructor-arg value="Martin" type="java.lang.String" />
		<constructor-arg value="32" type="int"/>
	</bean>
	
	<bean id="employeeConstructorMismatch" class="org.baeldung.dependency.injection.Employee">
		<constructor-arg value="Martin"/>
		<constructor-arg value="32"/>
	</bean>

	<bean id="employeeSetterInjection" class="org.baeldung.dependency.injection.Employee">
		<property name="address" ref="address" />
	</bean>

</beans>