<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Select2</title>
</head>
<body>
  <div data-th-fragment="select2-js">
    <script data-th-src="@{/webjars/select2/dist/js/select2.full.js}"></script>
    <script data-th-src="@{/webjars/select2/dist/js/i18n/}+ ${#locale.language}+'.js'"
            data-th-if="${#locale.language} != 'en'"></script>
    <script type="text/javascript" charset="utf8" 
            data-th-src="@{/public/js/select2-defaults.js}"></script>
  </div>
</body>
</html>
