

<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPostLabel" jhiTranslate="baeldungApp.post.home.createOrEditLabel">Create or edit a Post</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!post.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="post.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="baeldungApp.post.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                [(ngModel)]="post.title"
            required minlength="10" maxlength="100" />
            <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 10 }">
                   This field is required to be at least 10 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.title?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 100 }">
                   This field cannot be longer than 100 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="baeldungApp.post.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                [(ngModel)]="post.content"
            required minlength="10" maxlength="1000" />
            <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 10 }">
                   This field is required to be at least 10 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.content?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 1000 }">
                   This field cannot be longer than 1000 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="baeldungApp.post.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="post.creationDate"
                required/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
            <div [hidden]="!(editForm.controls.creationDate?.dirty && editForm.controls.creationDate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.creationDate?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label jhiTranslate="baeldungApp.post.creator" for="field_creator">Creator</label>
            <select class="form-control" id="field_creator" name="creator" [(ngModel)]="post.creator"  required>
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === post.creator?.id ? post.creator : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.creator?.dirty && editForm.controls.creator?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.creator?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
